Options +FollowSymLinks
RewriteEngine on

#adiciona barra ao final da url para deixar o path correto
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [L,R=301]

#redireciona para gerar o json dinamicamente baseado na url requisitada
RewriteRule ^(cinema.*)$ dispatch.php?id=$1
